[DEFAULT]
auth_strategy = noauth
debug = True
verbose = True
core_plugin = ironic_neutron_plugin.plugin.IronicPlugin
api_extensions_path = /path/to/ironic-neutron-plugin/ironic_neutron_plugin/extensions
fake_rabbit = True

[database]
connection = mysql://root@127.0.0.1:3306/neutron

[ironic]
dry_run = True
credential_secret = 44ee83001278fd0874ffe5b07ec94983
