[DEFAULT]
auth_strategy = noauth
debug = True
verbose = True
core_plugin = neutron.plugins.ml2.plugin.Ml2Plugin
fake_rabbit = True

use_stderr = True
log_dir = /path/to/neutron/logs

[database]
connection = mysql://root@127.0.0.1:3306/neutron

[ml2]
type_drivers = local,flat,vlan
tenant_network_types = vlan
mechanism_drivers = openvswitch,ironic
extension_drivers = ironic

[ml2_type_flat]
flat_networks = <physical_network_name>,<physical_network_name>

[ml2_type_vlan]
network_vlan_ranges = <physical_network_name>[:<vlan_min>:<vlan_max>],..

[quotas]
quota_items = network,subnet,port
default_quota = -1
quota_network = -1
quota_subnet = -1
quota_port = -1

[ironic]
dry_run = True
credential_secret = 44ee83001278fd0874ffe5b07ec94983
