[DEFAULT]
auth_strategy = noauth
debug = True
verbose = True
core_plugin = ironic_neutron_plugin.plugin.IronicMl2Plugin
api_extensions_path = /path/to/ironic-neutron-plugin/ironic_neutron_plugin/extensions
fake_rabbit = True

use_stderr = True
log_dir = /path/to/neutron/logs

[database]
connection = mysql://root@127.0.0.1:3306/neutron

[ml2]
type_drivers = vlan
tenant_network_types = vlan
mechanism_drivers = ironic

[ml2_type_vlan]
network_vlan_ranges = <physical_network_name>,<physical_network_name>

[quotas]
quota_items = network,subnet,port
default_quota = -1
quota_network = -1
quota_subnet = -1
quota_port = -1

[ironic]
dry_run = True
credential_secret = 44ee83001278fd0874ffe5b07ec94983
