# Injected by Nova on instance boot
#
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

auto bond0
iface bond0 inet manual
    bond-mode 4
    bond-miimon 100
    bond-lacp-rate 1
    bond-slaves{% for ifc in interfaces %} eth{{ ifc.if_num }}{% endfor %}

{%- for ifc in interfaces -%}
    {%- if ifc.address.startswith('10.') -%}
        {%- set vlan = 401 -%}
    {%- else -%}
        {%- set vlan = 101 -%}
    {%- endif %}

auto bond0.{{vlan}}
iface bond0.{{vlan}} inet static
    vlan_raw_device bond0
    address {{ ifc.address }}
    netmask {{ ifc.netmask }}
{%- if ifc.dns %}
    dns-nameservers {{ ifc.dns }}
{%- endif %}
{%- if vlan == 401 %}
    post-up route add -net 10.208.0.0 netmask 255.240.0.0 gw {{ ifc.gateway }} || true
    pre-down route del -net 10.208.0.0 netmask 255.240.0.0 gw {{ ifc.gateway }} || true
    post-up route add -net 10.176.0.0 netmask 255.240.0.0 gw {{ ifc.gateway }} || true
    pre-down route del -net 10.176.0.0 netmask 255.240.0.0 gw {{ ifc.gateway }} || true
{%- else %}
{%- if ifc.gateway %}
    gateway {{ ifc.gateway }}
{%- endif %}
{%- endif %}
{%- if ifc.mac_address %}
    hwaddress ether {{ ifc.mac_address }}
{%- endif %}

{%- if use_ipv6 %}
iface bond0.{{vlan}} inet6 static
    address {{ ifc.address_v6 }}
    netmask {{ ifc.netmask_v6 }}
{%- if ifc.gateway_v6 %}
    gateway {{ ifc.gateway_v6 }}
{%- endif %}
{%- endif %}

{%- endfor %}